*{
    margin:0;
    padding:0;
    box-sizing: border-box;
} 

.contenitore{
    max-width: 1500px; 
    margin: 0 auto;
}

header{
    background-color: #ff6900;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
}

header img{
      width: 8rem;
      height: 2rem;
      margin-top: 0.4rem;
    }

header a{
    padding: 0.3rem;
}

header nav{
    padding: 1rem 6rem;
}

main{
    display: flex;
    flex-direction: row;
}

.box{
    position: relative;
}
.box img{
    position: relative;
    width: 25rem;
    height: 40rem;
    margin: 3rem;
}

.heart{
    position: absolute;
    top: 4rem;
    right: 4rem;
    background-color: white;
    font-size: 2rem;

}

.heart :hover{
    background-color: red;
}

.img-2b{
    
    display: none;
}
  .img-2 :hover .img-2b{
    display: absolute;
    bottom: 46.2rem;
}