*{
    margin:0;
    padding:0;
    box-sizing: border-box;
} 

.contenitore{
    max-width: 1500px; 
    margin: 0 auto;
}

header{
    background-color: #ff6900;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
}

header img{
      width: 8rem;
      height: 2rem;
      margin-top: 0.4rem;
    }

header a{
    padding: 0.3rem;
}

header nav{
    padding: 1rem 6rem;
}

.linea1{
    display: flex;
    flex-direction: row;
}

.box{
    position: relative;
}
.box img{
    position: relative;
    width: 25rem;
    height: 40rem;
    margin: 3rem;
}

.heart{
    position: absolute;
    top: 4rem;
    right: 4rem;
    background-color: white;
    font-size: 2rem;

}

.heart :hover{
    color: red;
}
  
 .img-1{
    display: block;
 }
  .img-1b{
    display: none;
  }
   
   #prima-foto{

   }
   #prima-foto:hover .img-1{
    display: none;
   }
  #prima-foto:hover .img-1b{
    display: block;
  }



  .img-2{
    display: block;
 }
  .img-2b{
    display: none;
  }
   
   #seconda-foto{

   }
   #seconda-foto:hover .img-2{
    display: none;
   }
  #seconda-foto:hover .img-2b{
    display: block;
  }
  .img-3{
    display: block;
 }
  .img-3b{
    display: none;
  }
   
   #terza-foto{

   }
   #terza-foto:hover .img-3{
    display: none;
   }
  #terza-foto:hover .img-3b{
    display: block;
  }




.linea2{
    display: flex;
    flex-direction: row;
}

.img-4{
    display: block;
 }
  .img-4b{
    display: none;
  }
   
   #quarta-foto{

   }
   #quarta-foto:hover .img-4{
    display: none;
   }
  #quarta-foto:hover .img-4b{
    display: block;
  }
  .img-5{
    display: block;
 }
  .img-5b{
    display: none;
  }
   
   #quinta-foto{

   }
   #quinta-foto:hover .img-5{
    display: none;
   }
  #quinta-foto:hover .img-5b{
    display: block;
  }
  .img-6{
    display: block;
 }
  .img-6b{
    display: none;
  }
   
   #sesta-foto{

   }
   #sesta-foto:hover .img-6{
    display: none;
   }
  
  #sesta-foto:hover .img-6b{
    display: block;
  }
 